body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

/* Headings */
h1, h2, h3 {
  color: white;
  background-color: #005fa3;
  padding: 6px;
}

/* Navigation links */
a:link {
  color: red;
}

a:hover {
  color: yellow;
}

a:visited {
  color: green;
}

/* Span */
.highlight {
  color: darkred;
  font-weight: bold;
}

/* Div */
#contact-info {
  background-color: white;
  padding: 10px;
  border: 2px solid #005fa3;
  margin-bottom: 20px;
}
